<h1>{{pageTitle}}- Parent Component</h1>
<router-outlet></router-outlet>
<a routerLink="/first" routerLinkActive="active">First Page</a>
<br>  
<a routerLink="/second" routerLinkActive="active">Second Page</a>
<div><img src="{{imgUrl}}"></div>
<br>
<div>
  <button (click)="incrementCount()">
    Increment
  </button>
  <p>Incremented {{count}} Times!!</p>
</div>
<div>
  <input  #nameRef type="text" [(ngModel)]="username">
  <p>Welcome {{username}}</p>
</div>
<app-child [pageTitle]="pageTitle" (welcomeEvent)="greet()"></app-child>