
<h1>{{pageTitle}}- Parent Component</h1>
<router-outlet></router-outlet>

<app-autocomplete></app-autocomplete>

<app-button></app-button>

<br>
<br>
<h2>Test</h2>
<input type="text">
<br>
<br>

<button (click)="onClick()">{{click}}</button>


<a routerLink="/first" routerLinkActive="active">First Page</a>
<br>  
<a routerLink="/second" routerLinkActive="active">Second Page</a>
<div><img src="{{imgUrl}}"></div>
<br>
<div>
  <button (click)="incrementCount()">
    Increment
  </button>
  <p>Incremented {{count}} Times!!</p>
</div>
<div>
  <input  #nameRef type="text" [(ngModel)]="username">
  <p>Welcome {{username}}</p>
</div>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<app-child [pageTitle]="pageTitle" (welcomeEvent)="greet()"></app-child>